<mat-card class="login-card">
  <form [formGroup]="loginForm" (submit)="loginUser()">
    <mat-card-header>
      Login
    </mat-card-header>
    <mat-card-content class="login-form">
      <div class="login-column">
        <mat-form-field class="login-form-item">
          <mat-label>Username</mat-label>
          <input id="username" matInput formControlName="username">
        </mat-form-field>
        <mat-form-field class="login-form-item">
          <mat-label>Password</mat-label>
          <input id="password" matInput type="password" formControlName="password">
        </mat-form-field>
        <div *ngIf="loginFailed" id="error-message" class="error-text">
          Invalid username and password combination!
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="login-actions">
      <button *ngIf="!isSubmitted" id="submit" mat-flat-button [disabled]="loginForm.invalid" color="primary" type="submit">Login</button>
      <mat-progress-spinner *ngIf="isSubmitted" color="secondary" mode="indeterminate">
      </mat-progress-spinner>
    </mat-card-actions>
  </form>
</mat-card>
